@inherits LayoutComponentBase
@layout AccountLayout

<h3>Manage your account</h3>

<div>
    <h4></h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
